@using DevTreks.Helpers;
@using DevTreks.Data.Helpers;
@{
    ViewBag.Title = AppHelper.GetResource("DEVTREKS_TITLE");
}
@Html.Image("logo", "/images/devtreks-logo.jpg", "DevTreks logo", "15%", "15%", string.Empty)
<span><strong> @ViewData["Title"]</strong></span>
<div data-role="navbar">
    <ul>
        <li>@Html.Link("whatsnew2", "/commontreks/preview/commons/resourcepack/A Introduction To DevTreks/502/none", "Home", "What's New")</li>
        <li>@Html.ActionLink(AppHelper.GetResource("ABOUT_DEVTREKS"), "about", "home")</li>
        <li><strong><a id="sourcecode" href="https://github.com/kpboyle1/">source</a></strong></li>
        <li><strong><a id="database" href="https://devtreks1.blob.core.windows.net/resources/db216.zip">database zip</a></strong></li>
    </ul>
</div>
<div data-role="navbar">
    @await Html.PartialAsync("_LoginPartial")
</div>
<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">@AppHelper.GetResource("LOGGEDIN_WELCOME")</li>

    <li>@Html.ActionLink("CommonTreks", "index", "CommonTreks")</li>

    <li>@Html.ActionLink("AgTreks", "index", "AgTreks")</li>

    <li>@Html.ActionLink("HomeTreks", "index", "HomeTreks")</li>

    <li>@Html.ActionLink("BuildTreks", "index", "BuildTreks")</li>

    <li>@Html.ActionLink("HealthTreks", "index", "HealthTreks")</li>
    <li>@Html.ActionLink("GreenTreks", "index", "GreenTreks")</li>
    <li>@Html.ActionLink("GovTreks (under planning)", "index", "GovTreks")</li>
</ul>
@*2.0.0 refactor after testing*@
@if ("azureurl" == "azureurl")
{
<ul data-role="listview" data-inset="true">

    <li data-role="list-divider">Admin Tutorials</li>
    <li>@Html.Link("A02", "/commontreks/preview/commons/resourcepack/Search and Quality Control/1536/none/", "Home", "Sitemaps and Search (2018-09)")</li>

    <li>@Html.Link("A01", "/commontreks/preview/commons/resourcepack/Social Budgeting/350/none", "Home", "Social Budgeting (2018-09)")</li>
    <li>@Html.Link("A00", "/commontreks/preview/commons/resourcepack/Deployment/348/none", "Home", "Source Code and Deployment (2018-09)")</li>
</ul>
<ul data-role="listview" data-inset="true">

    <li data-role="list-divider">General Calculator Tutorials</li>
    <li>@Html.Link("A102", "/commontreks/preview/commons/resourcepack/Work Breakdown Structures/467/none", "Home", "Work Breakdown Structures (2018-09)")</li>

    <li>@Html.Link("A103", "/commontreks/preview/commons/resourcepack/Calculators and Analyzers/515/none", "Home", "Calculators and Analyzers (2018-09)")</li>

    <li>@Html.Link("A104", "/commontreks/preview/commons/resourcepack/Story Telling 1/491/none", "Home", "Story Telling (2018-09)")</li>

    <li>@Html.Link("A107", "/commontreks/preview/commons/resourcepack/NPV Calculation 1, Operating Budgets/461/none/", "Home", "NPV Calculation 1, Operating Budgets (2018-09)")</li>

    <li>@Html.Link("A108", "/commontreks/preview/commons/resourcepack/NPV Calculation 2, Capital Budgets/445/none/", "Home", "NPV Calculation 2, Capital Budgets (2018-09)")</li>

    <li>@Html.Link("A109", "/commontreks/preview/commons/resourcepack/Life Cycle Analysis 1/497/none/", "Home", "Life Cycle Calculation (2018-09)")</li>

    <li>@Html.Link("A110", "/commontreks/preview/commons/resourcepack/Monitoring and Evaluation Calculation 1/476/none", "Home", "Monitoring and Evaluation Calculation 1 (2018-09)")</li>
</ul>
<ul data-role="listview" data-inset="true">

    <li data-role="list-divider">General Analyzer Tutorials</li>
    <li>@Html.Link("B106", "/commontreks/preview/commons/resourcepack/Performance Analysis/509/none", "Home", "Performance Analysis (2018-09)")</li>
    <li>@Html.Link("C107", "/commontreks/preview/commons/resourcepack/Technology Assessment 2/1544/none", "Home", "Social Performance Analysis (2018-09)")</li>
    <li>@Html.Link("B101", "/commontreks/preview/commons/resourcepack/Benefit Cost Analysis 1/506/none", "Home", "Benefit Cost Analysis 1 (2018-09)")</li>

    <li>@Html.Link("B102", "/commontreks/preview/commons/resourcepack/Life Cycle Analysis 2/501/none/", "Home", "Life Cycle Analysis (2018-09)")</li>

    <li>@Html.Link("B103", "/commontreks/preview/commons/resourcepack/Earned Value Management 1/504/none/", "Home", "Earned Value Management 1 (2018-09)")</li>

    <li>@Html.Link("B104", "/commontreks/preview/commons/resourcepack/Change Analysis 1/507/none", "Home", "Change Analysis 1 (2018-09)")</li>

    <li>@Html.Link("B105", "/commontreks/preview/commons/resourcepack/Price Analysis 1/508/none", "Home", "Price Analysis 1 (2018-09)")</li>
    <li>@Html.Link("B108", "/commontreks/preview/commons/resourcepack/M and E Analysis 2/519/none/", "Home", "Monitoring and Evaluation Analysis 2 (2018-09)")</li>
	<li>@Html.Link("B109", "/commontreks/preview/commons/resourcepack/Resource Stock Analysis 1/1525/none/", "Home", "Resource Stock Analysis 1 (2018-09)")</li>
    <li>@Html.Link("B110", "/commontreks/preview/commons/resourcepack/DevPack Analysis/1535/none/", "Home", "DevPack Analysis (2018-09)")</li>
    </ul>
<ul data-role="listview" data-inset="true">
	<li data-role="list-divider">Professional Tutorials</li>
	<li>@Html.Link("C101", "/commontreks/preview/commons/resourcepack/Ag Production Analysis 1/464/none", "Home", "Ag Production Analysis 1 (2018-09)")</li>
	<li>@Html.Link("C102", "/commontreks/preview/commons/resourcepack/Construction Analysis 1/474/none", "Home", "Construction Analysis 1 (2018-09)")</li>
	<li>@Html.Link("C103", "/commontreks/preview/commons/resourcepack/Health Care Analysis 1/449/none", "Home", "Health Care Analysis 1 (2018-09)")</li>
    <li>@Html.Link("C104", "/commontreks/preview/commons/resourcepack/Malnutrition Analysis 1/450/none", "Home", "Malnutrition Analysis 1 (2018-09)")</li>
	<li>@Html.Link("C105", "/commontreks/preview/commons/resourcepack/Machinery Costs 1/437/none", "Home", "Capital Input (Machinery) Analysis 1 (2018-09)")</li>
    <li>@Html.Link("C106", "/commontreks/preview/commons/resourcepack/Technology Assessment 1/1526/none/", "Home", "Technology Assessment 1 (2018-09)")</li>
</ul>
<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Information about donations, grants, and fees:</li>
    <li>Refer to the Source Code tutorial.</li>
</ul>
}
@section Footer {
    <p>
        <strong>Need Another Treks?</strong><strong>
        <br />
        @AppHelper.GetResource("TREKS_MORE")</strong>
        <br />
        devtrekkers@gmail.com
    </p>
    @HtmlHelperExtensions.WriteCurrentVersion(Html)
}