@using DevTreks.Helpers;
@using DevTreks.Data.Helpers;
@using DevTreks.Data.AppHelpers;
@using DevTreks.Data;
@using DevTreks.Models;
@using DevTreks.Data.RuleHelpers;


@model DevTreks.Data.ContentURI

@{
    bool bCanDelete = AppHelper.CanDeleteNode(
      @Model.URINodeName, Economics1.BUDGET_TYPES.budgetgroup.ToString(),
      Model.URIDataManager.ServerActionType, Model.URIMember);

    if (Model.URINodeName == Economics1.BUDGET_TYPES.budgetgroup.ToString())
    {

        //only collections can be edited (conserve db hits)
       @HtmlHelperExtensions.MakeName(Html, string.Empty, @Model.URIModels.BudgetSystem.Name, string.Empty,
                  GeneralHelpers.VIEW_EDIT_TYPES.part, bCanDelete)
        if (Model.URIDataManager.EditViewEditType
            == GeneralHelpers.VIEW_EDIT_TYPES.full)
        {
            @HtmlHelperExtensions.MakeAddDefaultNodeButton(Html, Model, "Budget",
                Economics1.BUDGET_TYPES.budget.ToString())
        }
        else 
        {
            @Html.H4("Enterprises", "ui-bar-b")
        }
        if (Model.URIModels.BudgetSystem.BudgetSystemToEnterprise != null)
        {
            if (Model.URIModels.BudgetSystem.BudgetSystemToEnterprise.Count > 0)
            {
                foreach (var enterprise in Model.URIModels.BudgetSystem.BudgetSystemToEnterprise)
                {
                    ViewData.Model.URIModels.BudgetSystemToEnterprise = enterprise;
                    @Html.DivCollapseStart(Model, enterprise.PKId)
                    <h4>@enterprise.Name</h4>
                    @await Html.PartialAsync("ContentModelViews/_BudgetToEnterprise", ViewData.Model)
                    @Html.DivEnd()
                }
            }
        }
    }
    else
    {
        string searchurl = StylesheetHelper.GetURIPattern(Model.URIModels.BudgetSystem.Name, Model.URIModels.BudgetSystem.PKId.ToString(),
                Model.URINetworkPartName, Economics1.BUDGET_TYPES.budgetgroup.ToString(), string.Empty);
        @HtmlHelperExtensions.MakeName(Html, @searchurl, @Model.URIModels.BudgetSystem.Name, "Name",
                         Model.URIDataManager.EditViewEditType, bCanDelete)
        @Html.DivStart(string.Empty, "ui-grid-a")
        @Html.DivStart(string.Empty, "ui-block-a")
        @Html.LabelStrong("DocStatus", "URI Status:")
        @HtmlHelperExtensions.MakeSelectList(Html, searchurl, Model.URIModels.BudgetSystem.DocStatus.ToString(),
            "DocStatus", GeneralRules.SHORTINTEGER, "2",
            Model.URIDataManager.EditViewEditType, "Select150", GeneralHelpers.GetDocStatusDictionary())
        @Html.DivEnd()
        @Html.DivStart(string.Empty, "ui-block-b")
        @Html.LabelStrong("Num", "Label")
        @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                           Model.URIModels.BudgetSystem.Num, "Num", GeneralRules.STRING, "15",
                 "Input75Center", string.Empty)
        @Html.DivEnd()
        @Html.DivEnd()
        @Html.DivStart(string.Empty, "ui-grid-a")
        @Html.DivStart(string.Empty, "ui-block-a")
        @Html.LabelStrong("TypeId", "Type:")
        @HtmlHelperExtensions.MakeSelectList(Html, searchurl, Model.URIModels.BudgetSystem.TypeId.ToString(),
                           "TypeId", GeneralRules.INTEGER, "4",
                 Model.URIDataManager.EditViewEditType, "Select150", Economics1.GetEconomicsTypes(Model))
        @Html.DivEnd()
        @Html.DivStart(string.Empty, "ui-block-b")
        @Html.DivEnd()
        @Html.DivEnd()
        @Html.DivStart(string.Empty, "ui-grid-a")
        @Html.DivStart(string.Empty, "ui-block-a")
        @Html.LabelStrong("Date", "Date:")
        @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                               Model.URIModels.BudgetSystem.Date.ToShortDateString(), "Date", GeneralRules.DATE, "8",
                "Input75Center", string.Empty)
        @Html.DivEnd()
        @Html.DivStart(string.Empty, "ui-block-b")
        @Html.LabelStrong("LastChangedDate", "Date Changed:")
        @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                               Model.URIModels.BudgetSystem.LastChangedDate.ToShortDateString(), "LastChangedDate", GeneralRules.SHORTDATE, "8",
                "Input75Center", string.Empty)
        @Html.DivEnd()
        @Html.DivEnd()
        @HtmlHelperExtensions.MakeTextArea(Html, searchurl, Model.URIModels.BudgetSystem.Description, "Description",
            "Description", Model.URIDataManager.EditViewEditType, "Text75H100PCW", "255")
        @HtmlHelperExtensions.WriteViewLinks(Html, searchurl, @Model.URIDataManager.ContentURIPattern, @Model.URIDataManager.CalcParams,
                Economics1.BUDGET_TYPES.budgetgroup.ToString(), "oldid")
    }
    
    }