@using DevTreks.Helpers;
@using DevTreks.Data.Helpers;
@using DevTreks.Data.AppHelpers;
@using DevTreks.Data;
@using DevTreks.Models;
@using DevTreks.Data.RuleHelpers;


@model DevTreks.Data.ContentURI
@{
    bool bCanDelete = AppHelper.CanDeleteNode(
      @Model.URINodeName, Economics1.BUDGET_TYPES.budgettimeperiod.ToString(),
      Model.URIDataManager.ServerActionType, Model.URIMember);

    string searchurl = StylesheetHelper.GetURIPattern(Model.URIModels.BudgetSystemToTime.Name, Model.URIModels.BudgetSystemToTime.PKId.ToString(),
                Model.URINetworkPartName, Economics1.BUDGET_TYPES.budgettimeperiod.ToString(), string.Empty);
    if (Model.URINodeName == Economics1.BUDGET_TYPES.budgettimeperiod.ToString())
    {
        //only collections can be edited (conserve db hits)
       @HtmlHelperExtensions.MakeName(Html, string.Empty, @Model.URIModels.BudgetSystemToTime.Name,
                        "Name", GeneralHelpers.VIEW_EDIT_TYPES.part, bCanDelete)
        if (Model.URIDataManager.EditViewEditType
            == GeneralHelpers.VIEW_EDIT_TYPES.full)
        {
            @Html.DivStart(string.Empty, "ui-grid-a")
            @Html.DivStart(string.Empty, "ui-block-a")
            @Html.Raw(StylesheetHelper.MakeGetSelectionsLink("selectexisting1", "#",
                        "GetSelectsLink", "Select Outcome", "spanSelectionFiles",
                        Model.URIDataManager.ContentURIPattern, searchurl,
                            Prices.OUTCOME_PRICE_TYPES.outcome.ToString(), string.Empty, Model.URIDataManager.CalcParams))
            @Html.DivEnd()
            @Html.DivStart(string.Empty, "ui-block-b")
            @Html.Raw(StylesheetHelper.MakeGetSelectionsLink("selectexisting1", "#",
                        "GetSelectsLink", "Select Operat.", "spanSelectionFiles",
                        Model.URIDataManager.ContentURIPattern, searchurl,
                             Prices.OPERATION_PRICE_TYPES.operation.ToString(), string.Empty, Model.URIDataManager.CalcParams))
            @Html.DivEnd()
            @Html.DivEnd()     
        }
        if (Model.URIModels.BudgetSystemToTime.BudgetSystemToOutcome != null)
        {
            if (Model.URIModels.BudgetSystemToTime.BudgetSystemToOutcome.Count > 0)
            {
                @Html.H4("Outcome", "ui-bar-b")
                foreach (var outcome in Model.URIModels.BudgetSystemToTime.BudgetSystemToOutcome)
                {
                    ViewData.Model.URIModels.BudgetSystemToOutcome = outcome;
                    @Html.DivCollapseStart(Model, outcome.PKId)
                    <h4>@outcome.Name</h4>
                    @await Html.PartialAsync("ContentModelViews/_BudgetToOutcome", ViewData.Model)
                    @Html.DivEnd()
                }
            }
        }
        if (Model.URIModels.BudgetSystemToTime.BudgetSystemToOperation != null)
        {
            if (Model.URIModels.BudgetSystemToTime.BudgetSystemToOperation.Count > 0)
            {
                @Html.H4("Operation", "ui-bar-b")
                foreach (var operation in Model.URIModels.BudgetSystemToTime.BudgetSystemToOperation)
                {
                    ViewData.Model.URIModels.BudgetSystemToOperation = operation;
                    @Html.DivCollapseStart(Model, operation.PKId)
                    <h4>@operation.Name</h4>
                    @await Html.PartialAsync("ContentModelViews/_BudgetToOperation", ViewData.Model)
                    @Html.DivEnd()
                }
            }
        }
    }
    else
    {
        int iUnitGroupId = (Model.URIModels.BudgetSystemToEnterprise != null) ? Model.URIModels.BudgetSystemToEnterprise.UnitClassId : 1;
            @HtmlHelperExtensions.MakeName(Html, @searchurl, @Model.URIModels.BudgetSystemToTime.Name,
                     "Name", Model.URIDataManager.EditViewEditType, bCanDelete)

            @Html.DivStart(string.Empty, "ui-grid-a")
            @Html.DivStart(string.Empty, "ui-block-a")
            @Html.LabelStrong("Date", "Ending Date:")
            @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                              Model.URIModels.BudgetSystemToTime.Date.ToShortDateString(), "Date", GeneralRules.DATE, "8",
                    "Input75Center", string.Empty)
            @Html.DivEnd()
            @Html.DivStart(string.Empty, "ui-block-b")
            @Html.LabelStrong("CommonRefYorN", "Common Ref. Point?:")
        if (Model.URIDataManager.EditViewEditType == GeneralHelpers.VIEW_EDIT_TYPES.full)
        {
            string name = string.Concat(searchurl, ";CommonRefYorN;boolean;1");
            string label = string.Concat(Model.URIModels.BudgetSystemToTime.PKId.ToString(), "CommonRefYorN");
                @HtmlHelperExtensions.MakeRadioTrueFalseBothOptions(Html, label, name, Model.URIModels.BudgetSystemToTime.CommonRefYorN)
        }
        else
        {
                @Html.Raw(Model.URIModels.BudgetSystemToTime.CommonRefYorN.ToString())
        }
            @Html.DivEnd()
            @Html.DivEnd()
        
            @Html.DivStart(string.Empty, string.Empty)
            @Html.LabelStrong("EnterpriseName", "Enterprise Name:")
            @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                 Model.URIModels.BudgetSystemToTime.EnterpriseName.ToString(), "EnterpriseName", GeneralRules.STRING, "75",
                  "Input100PerCent", string.Empty)
            @Html.DivEnd()

            @Html.DivStart(string.Empty, "ui-grid-a")
            @Html.DivStart(string.Empty, "ui-block-a")
            @Html.LabelStrong("DiscountYorN", "Discount?:")
            if (Model.URIDataManager.EditViewEditType == GeneralHelpers.VIEW_EDIT_TYPES.full)
            {
                string name = string.Concat(searchurl, ";DiscountYorN;boolean;1");
                string label = string.Concat(Model.URIModels.BudgetSystemToTime.PKId.ToString(), "DiscountYorN");
                @HtmlHelperExtensions.MakeRadioTrueFalseBothOptions(Html, label, name, Model.URIModels.BudgetSystemToTime.DiscountYorN)
            }
            else
            {
                @Html.Raw(Model.URIModels.BudgetSystemToTime.DiscountYorN.ToString())
            }
            @Html.DivEnd()
            @Html.DivStart(string.Empty, "ui-block-b")
            @Html.LabelStrong("EnterpriseAmount", "Enterprise Amount:")
            @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                Model.URIModels.BudgetSystemToTime.EnterpriseAmount.ToString(), "EnterpriseAmount", GeneralRules.FLOAT, "4",
                "Input75Center", string.Empty)
            @Html.DivEnd()
            @Html.DivEnd()

            @Html.DivStart(string.Empty, "ui-grid-a") 
            @Html.DivStart(string.Empty, "ui-block-a")
            @Html.LabelStrong("EnterpriseUnit", "Enterprise Unit:")
            @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                     Model.URIModels.BudgetSystemToTime.EnterpriseUnit, "EnterpriseUnit", GeneralRules.STRING, "75",
                "Input75Center", string.Empty)
            @Html.DivEnd()
            @Html.DivStart(string.Empty, "ui-block-b")
            @Html.LabelStrong("AOHFactor", "Overhead Factor:")
            @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                Model.URIModels.BudgetSystemToTime.AOHFactor.ToString(), "AOHFactor", GeneralRules.FLOAT, "4",
                "Input75Center", string.Empty)
            @Html.DivEnd()
            @Html.DivEnd()

            @Html.DivStart(string.Empty, "ui-grid-a")
            @Html.DivStart(string.Empty, "ui-block-a")
            @Html.LabelStrong("GrowthTypeId", "Growth Type:")
            @HtmlHelperExtensions.MakeSelectList(Html, searchurl, Model.URIModels.BudgetSystemToTime.GrowthTypeId.ToString(),
                     "GrowthTypeId", GeneralRules.SHORTINTEGER, "2",
                Model.URIDataManager.EditViewEditType, "Select150", Economics1.GetGrowthTypesDictionary())
            @Html.DivEnd()
            @Html.DivStart(string.Empty, "ui-block-b")
            @Html.LabelStrong("GrowthPeriods", "Growth Periods:")
            @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                  Model.URIModels.BudgetSystemToTime.GrowthPeriods.ToString(), "GrowthPeriods", GeneralRules.INTEGER, "4",
                "Input75Center", string.Empty)
            @Html.DivEnd()
            @Html.DivEnd()

            @Html.DivStart(string.Empty, "ui-grid-a")
            @Html.DivStart(string.Empty, "ui-block-a")
            @Html.LabelStrong("IncentiveAmount", "Incentive Amount:")
                             string sFormatted = StylesheetHelper.WriteFormattedNumber("IncentiveAmount", Model.URIModels.BudgetSystemToTime.IncentiveAmount.ToString(), GeneralRules.DECIMAL, "8");
            @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                    sFormatted, "IncentiveAmount", GeneralRules.DECIMAL, "8",
                    "Input75Center", string.Empty)
            @Html.DivEnd()
            @Html.DivStart(string.Empty, "ui-block-b")
            @Html.LabelStrong("IncentiveRate", "Incentive Rate:")
                             sFormatted = StylesheetHelper.WriteFormattedNumber("IncentiveRate", Model.URIModels.BudgetSystemToTime.IncentiveRate.ToString(), GeneralRules.FLOAT, "4");
             @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                        sFormatted, "IncentiveRate", GeneralRules.FLOAT, "4",
                    "Input75Center", string.Empty)
            @Html.DivEnd()
            @Html.DivEnd()

            @Html.DivStart(string.Empty, "ui-grid-a")
            @Html.DivStart(string.Empty, "ui-block-a")
            @Html.LabelStrong("LastChangedDate", "Date:")
            @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                              Model.URIModels.BudgetSystemToTime.LastChangedDate.ToShortDateString(), "LastChangedDate", GeneralRules.SHORTDATE, "8",
                    "Input75Center", string.Empty)
            @Html.DivEnd()
            @Html.DivStart(string.Empty, "ui-block-b")
            @Html.LabelStrong("Num", "Label:")
            @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                Model.URIModels.BudgetSystemToTime.Num, "Num", GeneralRules.STRING, "15",
                "Input75Center", string.Empty)
            @Html.DivEnd()
            @Html.DivEnd()
    
            @HtmlHelperExtensions.MakeTextArea(Html, searchurl, Model.URIModels.BudgetSystemToTime.Description, "Description",
                "Description", Model.URIDataManager.EditViewEditType, "Text75H100PCW", "255")
            @HtmlHelperExtensions.WriteViewLinks(Html, searchurl, @Model.URIDataManager.ContentURIPattern, @Model.URIDataManager.CalcParams,
                    Economics1.BUDGET_TYPES.budgettimeperiod.ToString(), "oldid")
    }
}