@using DevTreks.Helpers;
@using DevTreks.Data.Helpers;
@using DevTreks.Data.AppHelpers;
@using DevTreks.Data;
@using DevTreks.Models;
@using DevTreks.Data.RuleHelpers;


@model DevTreks.Data.ContentURI
@{
    bool bCanDelete = AppHelper.CanDeleteNode(
      @Model.URINodeName, Economics1.INVESTMENT_TYPES.investmentcomponent.ToString(),
      Model.URIDataManager.ServerActionType, Model.URIMember);

    string searchurl = StylesheetHelper.GetURIPattern(Model.URIModels.CostSystemToComponent.Name, Model.URIModels.CostSystemToComponent.PKId.ToString(),
                Model.URINetworkPartName, Economics1.INVESTMENT_TYPES.investmentcomponent.ToString(), string.Empty);
    if (Model.URINodeName == Economics1.INVESTMENT_TYPES.investmentcomponent.ToString())
    {
        //only collections can be edited (conserve db hits)
       @HtmlHelperExtensions.MakeName(Html, string.Empty, @Model.URIModels.CostSystemToComponent.Name,
                        "Name", GeneralHelpers.VIEW_EDIT_TYPES.part, bCanDelete)
        if (Model.URIDataManager.EditViewEditType
            == GeneralHelpers.VIEW_EDIT_TYPES.full)
        {
            @Html.DivStart(string.Empty, string.Empty)
            @Html.Raw(StylesheetHelper.MakeGetSelectionsLink("selectexisting1", "#",
                        "GetSelectsLink", "Select Input Series", "spanSelectionFiles",
                        Model.URIDataManager.ContentURIPattern, searchurl,
                        Prices.INPUT_PRICE_TYPES.inputseries.ToString(), string.Empty, Model.URIDataManager.CalcParams))
            @Html.DivEnd()     
        }
        else 
        {
            @Html.H4("Input", "ui-bar-b")
        }
        if (Model.URIModels.CostSystemToComponent.CostSystemToInput != null)
        {
            if (Model.URIModels.CostSystemToComponent.CostSystemToInput.Count > 0)
            {
                foreach (var input in Model.URIModels.CostSystemToComponent.CostSystemToInput)
                {
                    ViewData.Model.URIModels.CostSystemToInput = input;
                    @Html.DivCollapseStart(Model, input.PKId)
                    <h4>@input.Name</h4>
                    @await Html.PartialAsync("ContentModelViews/_InvestmentToInput", ViewData.Model)
                    @Html.DivEnd()
                }
            }
        }
    }
    else
    {
        @HtmlHelperExtensions.MakeName(Html, @searchurl, @Model.URIModels.CostSystemToComponent.Name,
                 "Name", Model.URIDataManager.EditViewEditType, bCanDelete)
        @Html.DivStart(string.Empty, "ui-grid-a")
        @Html.DivStart(string.Empty, "ui-block-a")
        @Html.LabelStrong("Date", "Date:")
        @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                          Model.URIModels.CostSystemToComponent.Date.ToShortDateString(), "Date", GeneralRules.DATE, "8",
                "Input75Center", string.Empty)
        @Html.DivEnd()
        @Html.DivStart(string.Empty, "ui-block-b")
        @Html.LabelStrong("Num", "Label:")
        @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                     Model.URIModels.CostSystemToComponent.Num, "Num", GeneralRules.STRING, "15",
            "Input75Center", string.Empty)
        @Html.DivEnd()
        @Html.DivEnd()

        @Html.DivStart(string.Empty, "ui-grid-a")
        @Html.DivStart(string.Empty, "ui-block-a")
        @Html.LabelStrong("Amount", "Amount:")
        string sFormatted = StylesheetHelper.WriteFormattedNumber("Amount", Model.URIModels.CostSystemToComponent.Amount.ToString(), GeneralRules.FLOAT, "4");
        @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                     sFormatted, "Amount", GeneralRules.FLOAT, "4",
            "Input75Center", string.Empty)
        @Html.DivEnd()
        @Html.DivStart(string.Empty, "ui-block-b")
        @Html.LabelStrong("Unit", "Unit:")
        @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                     Model.URIModels.CostSystemToComponent.Unit, "Unit", GeneralRules.STRING, "75",
                "Input75Center", string.Empty)
        @Html.DivEnd()
        @Html.DivEnd()

        @Html.DivStart(string.Empty, "ui-grid-a")
        @Html.DivStart(string.Empty, "ui-block-a")
        @Html.LabelStrong("EffectiveLife", "Effective Life:")
        @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                                              Model.URIModels.CostSystemToComponent.EffectiveLife.ToString(), "EffectiveLife", GeneralRules.FLOAT, "4",
                "Input75Center", string.Empty)
        @Html.DivEnd()
        @Html.DivStart(string.Empty, "ui-block-b")
        @Html.LabelStrong("SalvageValue", "Salvage Value:")
        @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                                    Model.URIModels.CostSystemToComponent.SalvageValue.ToString(), "SalvageValue", GeneralRules.DECIMAL, "8",
            "Input75Center", string.Empty)
        @Html.DivEnd()
        @Html.DivEnd()

        @Html.DivStart(string.Empty, "ui-grid-a")
        @Html.DivStart(string.Empty, "ui-block-a")
        @Html.LabelStrong("IncentiveAmount", "Incentive Amount:")
                         sFormatted = StylesheetHelper.WriteFormattedNumber("IncentiveAmount", Model.URIModels.CostSystemToComponent.IncentiveAmount.ToString(), GeneralRules.DECIMAL, "8");
        @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                               sFormatted, "IncentiveAmount", GeneralRules.DECIMAL, "8",
                "Input75Center", string.Empty)
        @Html.DivEnd()
        @Html.DivStart(string.Empty, "ui-block-b")
        @Html.LabelStrong("IncentiveRate", "Incentive Rate:")
                         sFormatted = StylesheetHelper.WriteFormattedNumber("IncentiveRate", Model.URIModels.CostSystemToComponent.IncentiveRate.ToString(), GeneralRules.FLOAT, "4");
         @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                sFormatted, "IncentiveRate", GeneralRules.FLOAT, "4",
                "Input75Center", string.Empty)
        @Html.DivEnd()
        @Html.DivEnd()

        @Html.DivStart(string.Empty, "ui-grid-a")
        @Html.DivStart(string.Empty, "ui-block-a")
        @Html.LabelStrong("ResourceWeight", "Weight:")
                         sFormatted = StylesheetHelper.WriteFormattedNumber("ResourceWeight", Model.URIModels.CostSystemToComponent.ResourceWeight.ToString(), GeneralRules.FLOAT, "4");
         @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                    sFormatted, "ResourceWeight", GeneralRules.FLOAT, "4",
                "Input75Center", string.Empty)
        @Html.DivEnd()
        @Html.DivStart(string.Empty, "ui-block-b")
        @Html.DivEnd()
        @Html.DivEnd()
    
        @HtmlHelperExtensions.MakeTextArea(Html, searchurl, Model.URIModels.CostSystemToComponent.Description, "Description",
            "Description", Model.URIDataManager.EditViewEditType, "Text75H100PCW", "255")
        
    }
    
}