@using DevTreks.Helpers;
@using DevTreks.Data.Helpers;
@using DevTreks.Data.AppHelpers;
@using DevTreks.Data;
@using DevTreks.Models;
@using DevTreks.Data.RuleHelpers;


@model DevTreks.Data.ContentURI
@{
    bool bCanDelete = AppHelper.CanDeleteNode(
      @Model.URINodeName, Economics1.INVESTMENT_TYPES.investment.ToString(),
      Model.URIDataManager.ServerActionType, Model.URIMember);

    string searchurl = StylesheetHelper.GetURIPattern(Model.URIModels.CostSystemToPractice.Name, Model.URIModels.CostSystemToPractice.PKId.ToString(),
                Model.URINetworkPartName, Economics1.INVESTMENT_TYPES.investment.ToString(), string.Empty);
    if (Model.URINodeName == Economics1.INVESTMENT_TYPES.investment.ToString())
    {
        //only collections can be edited (conserve db hits)
       @HtmlHelperExtensions.MakeName(Html, string.Empty, @Model.URIModels.CostSystemToPractice.Name,
                        "Name", GeneralHelpers.VIEW_EDIT_TYPES.part, bCanDelete)
        if (Model.URIDataManager.EditViewEditType
            == GeneralHelpers.VIEW_EDIT_TYPES.full)
        {
            @HtmlHelperExtensions.MakeAddDefaultNodeButton(Html, Model, "Time Period",
                Economics1.INVESTMENT_TYPES.investmenttimeperiod.ToString())
        }
        else 
        {
            @Html.H4("Time Periods", "ui-bar-b")
        }
        if (Model.URIModels.CostSystemToPractice.CostSystemToTime != null)
        {
            if (Model.URIModels.CostSystemToPractice.CostSystemToTime.Count > 0)
            {
                foreach (var timeperiod in Model.URIModels.CostSystemToPractice.CostSystemToTime)
                {
                    ViewData.Model.URIModels.CostSystemToTime = timeperiod;
                    @Html.DivCollapseStart(Model, timeperiod.PKId)
                    <h4>@timeperiod.Name</h4>
                    @await Html.PartialAsync("ContentModelViews/_InvestmentToTime", ViewData.Model)
                    @Html.DivEnd()
                }
            }
        }
    }
    else
    {
        @HtmlHelperExtensions.MakeName(Html, @searchurl, @Model.URIModels.CostSystemToPractice.Name,
                 "Name", Model.URIDataManager.EditViewEditType, bCanDelete)
        @Html.DivStart(string.Empty, "ui-grid-a")
        @Html.DivStart(string.Empty, "ui-block-a")
        @Html.LabelStrong("Num", "Label:")
        @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                     Model.URIModels.CostSystemToPractice.Num, "Num", GeneralRules.STRING, "15",
            "Input75Center", string.Empty)
        @Html.DivEnd()
        @Html.DivStart(string.Empty, "ui-block-b")
        @Html.LabelStrong("Num2", "Label:")
        @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                          Model.URIModels.CostSystemToPractice.Num2, "Num2", GeneralRules.STRING, "15",
            "Input75Center", string.Empty)
        @Html.DivEnd()
        @Html.DivEnd()

        @Html.DivStart(string.Empty, "ui-grid-a")
        @Html.DivStart(string.Empty, "ui-block-a")
        @Html.LabelStrong("InitialValue", "Initial Value:")
        @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                                              Model.URIModels.CostSystemToPractice.InitialValue.ToString(), "InitialValue", GeneralRules.DECIMAL, "4",
                "Input75Center", string.Empty)
        @Html.DivEnd()
        @Html.DivStart(string.Empty, "ui-block-b")
        @Html.LabelStrong("SalvageValue", "Salvage Value:")
        @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                                    Model.URIModels.CostSystemToPractice.SalvageValue.ToString(), "SalvageValue", GeneralRules.DECIMAL, "8",
            "Input75Center", string.Empty)
        @Html.DivEnd()
        @Html.DivEnd()

        @Html.DivStart(string.Empty, "ui-grid-a")
        @Html.DivStart(string.Empty, "ui-block-a")
        @Html.LabelStrong("LastChangedDate", "Date:")
        @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                                    Model.URIModels.CostSystemToPractice.LastChangedDate.ToShortDateString(), "LastChangedDate", GeneralRules.SHORTDATE, "8",
                "Input75Center", string.Empty)
        @Html.DivEnd()
        @Html.DivStart(string.Empty, "ui-block-b")
        @Html.DivEnd()
        @Html.DivEnd()
    
        @HtmlHelperExtensions.MakeTextArea(Html, searchurl, Model.URIModels.CostSystemToPractice.Description, "Description",
            "Description", Model.URIDataManager.EditViewEditType, "Text75H100PCW", "255")
        @HtmlHelperExtensions.WriteViewLinks(Html, searchurl, @Model.URIDataManager.ContentURIPattern, @Model.URIDataManager.CalcParams,
                Economics1.INVESTMENT_TYPES.investment.ToString(), "oldid")
        
    }
    
}