@using DevTreks.Helpers;
@using DevTreks.Data.Helpers;
@using DevTreks.Data.AppHelpers;
@using DevTreks.Data;
@using DevTreks.Models;
@using DevTreks.Data.RuleHelpers;


@model DevTreks.Data.ContentURI

@{
    bool bCanDelete = AppHelper.CanDeleteNode(
      @Model.URINodeName, Prices.OUTPUT_PRICE_TYPES.outputgroup.ToString(),
      Model.URIDataManager.ServerActionType, Model.URIMember);

    if (Model.URINodeName == Prices.OUTPUT_PRICE_TYPES.outputgroup.ToString())
    {

        //only collections can be edited (conserve db hits)
       @HtmlHelperExtensions.MakeName(Html, string.Empty, @Model.URIModels.OutputClass.Name, string.Empty,
                  GeneralHelpers.VIEW_EDIT_TYPES.part, bCanDelete)
        if (Model.URIDataManager.EditViewEditType
            == GeneralHelpers.VIEW_EDIT_TYPES.full)
        {
            @HtmlHelperExtensions.MakeAddDefaultNodeButton(Html, Model, "Output",
                Prices.OUTPUT_PRICE_TYPES.output.ToString())
        }
        else 
        {
            @Html.H4("Output", "ui-bar-b")
        }
        if (Model.URIModels.OutputClass.Output != null)
        {
            if (Model.URIModels.OutputClass.Output.Count > 0)
            {
                foreach (var output in Model.URIModels.OutputClass.Output)
                {
                    ViewData.Model.URIModels.Output = output;
                    @Html.DivCollapseStart(Model, output.PKId)
                    <h4>@output.Name</h4>
                    @await Html.PartialAsync("ContentModelViews/_Output", ViewData.Model)
                    @Html.DivEnd()
                }
            }
        }
    }
    else
    {
        string searchurl = StylesheetHelper.GetURIPattern(Model.URIModels.OutputClass.Name, Model.URIModels.OutputClass.PKId.ToString(),
                Model.URINetworkPartName, Prices.OUTPUT_PRICE_TYPES.outputgroup.ToString(), string.Empty);
        @HtmlHelperExtensions.MakeName(Html, @searchurl, @Model.URIModels.OutputClass.Name, "Name",
                         Model.URIDataManager.EditViewEditType, bCanDelete)
        @Html.DivStart(string.Empty, "ui-grid-a")
        @Html.DivStart(string.Empty, "ui-block-a")
        @Html.LabelStrong("DocStatus", "URI Status:")
        @HtmlHelperExtensions.MakeSelectList(Html, searchurl, Model.URIModels.OutputClass.DocStatus.ToString(),
            "DocStatus", GeneralRules.SHORTINTEGER, "2",
            Model.URIDataManager.EditViewEditType, "Select150", GeneralHelpers.GetDocStatusDictionary())
        @Html.DivEnd()
        @Html.DivStart(string.Empty, "ui-block-b")
        @Html.LabelStrong("Num", "Label")
        @Html.InputTextUpdate(Model.URIDataManager.EditViewEditType, searchurl,
                           Model.URIModels.OutputClass.Num, "Num", GeneralRules.STRING, "15",
                 "Input75Center", string.Empty)
        @Html.DivEnd()
        @Html.DivEnd()
        @Html.DivStart(string.Empty, "ui-grid-a")
        @Html.DivStart(string.Empty, "ui-block-a")
        @Html.LabelStrong("TypeId", "Type:")
        @HtmlHelperExtensions.MakeSelectList(Html, searchurl, Model.URIModels.OutputClass.TypeId.ToString(),
                           "TypeId", GeneralRules.INTEGER, "4",
                 Model.URIDataManager.EditViewEditType, "Select150", Prices.GetPriceTypes(Model))
        @Html.DivEnd()
        @Html.DivStart(string.Empty, "ui-block-b")
        @Html.DivEnd()
        @Html.DivEnd()
        @HtmlHelperExtensions.MakeTextArea(Html, searchurl, Model.URIModels.OutputClass.Description, "Description",
            "Description", Model.URIDataManager.EditViewEditType, "Text75H100PCW", "255")
        @HtmlHelperExtensions.WriteViewLinks(Html, searchurl, @Model.URIDataManager.ContentURIPattern, @Model.URIDataManager.CalcParams,
                Prices.OUTPUT_PRICE_TYPES.outputgroup.ToString(), "oldid")
    }
    
    }